@import 'variables';

/******************************
      BODY
******************************/

body {
  width: 100%;
  margin: 0 auto;
}

/******************
      DROPDOWN
******************/

.dropdown {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: yellow;

  &:hover .dropdown-content {
    visibility: visible;
  }
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .dropdown-content-element {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    line-height: 100px;
    cursor: pointer;
  }
}
